<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatRealTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C82F92C1D2C0E06007F3E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C82F9401D2C0E06007F3E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C82F94B1D2C0E06007F3E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
