<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>978000791877-phb2f3ve82nshcl51f7b5t3br5hrdp9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978000791877-phb2f3ve82nshcl51f7b5t3br5hrdp9d</string>
	<key>API_KEY</key>
	<string>AIzaSyBLwpt3TgvKtOV0YMOFd7cnsj4RKZjjWKo</string>
	<key>GCM_SENDER_ID</key>
	<string>978000791877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dantesolorio.ChatRealTime</string>
	<key>PROJECT_ID</key>
	<string>chatrealtime-1e87d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatrealtime-1e87d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:978000791877:ios:5221b43528aa8a1c</string>
	<key>DATABASE_URL</key>
	<string>https://chatrealtime-1e87d.firebaseio.com</string>
</dict>
</plist>